#leftcolumn h3, #rightcolumn h3 {
	height:20px;
	color:#6eb400;
	font-weight: bold;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 1.1em;
	line-height:20px;
	margin: -20px 0 0 ;
	padding:10px 0 2px 20px;
	position:absolute;
	text-align: left;
	width:160px;
}