html {
  height: 100%;
  margin-bottom: 0px;
}

form {
  margin: 0;
  padding: 0;
}

img,table {
	border: none;
}

body {
	font-family: Verdana, Arial, Tahoma, sans-serif;
	line-height: 1.3em;
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: #333;
	background: #edebd6 url(../images/bg.jpg) top left repeat-x;
}

body.contentpane {
	background: #edebd6;
}

a:link, a:visited {
	text-decoration: underline;
	font-weight: normal;
	color: #555;
}

a:hover {
	text-decoration: none;
	font-weight: normal;
	color: #333;
}

input.button, .validate  {
	border: 1px solid #555;
	color: #333;
	font-size: 10px;
}

input.button:hover, .validate:hover  {
	
}

p {
	margin-top: 0;
	margin-bottom: 5px;
	text-align: justify;
}

.inputbox {
	border: 1px solid #555;
	color: #333;
	padding: 2px;
}
.inputbox:hover {

}

/*****************************************/
/*** Template specific layout elements ***/
/*****************************************/
#page_bg {
	padding: 0;
}

div.center {
	text-align: center;
	margin: 0 auto;
	width: 900px;
}

div#wrapper {
	margin: 0 auto;
	width: 900px;
	text-align: left;
}

#left {
	background: url(../images/left.jpg) top left no-repeat;
}

#header {
	background: url(../images/header.jpg) top left repeat-x;
	width: 908px;
	margin: 0 auto;
}

#right {
	background: url(../images/right.jpg) top right no-repeat;
	height: 30px;
	padding: 141px 0 0 0;
}

#content {
	width: 900px;
	margin: 0 auto;
	overflow: hidden;
}

#logo {
	padding: 0;
	text-align: center;
	margin: 0 auto;
	width: 900px;
	position: absolute;
	top: 50px;
}

#logo a, #logo a:link, #logo a:hover {
	font-weight: normal;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	font-size: 26px;
	padding: 0;
	margin: 0;
	letter-spacing: 1px;
	color: #edebd7;
	text-decoration: none;
	outline: none;
	line-height: 36px;
}

.pill_m {
	width: 896px;
	text-align: center;
	height: 30px;
	margin: 0 auto;
	background: url(../images/menu.jpg) top left repeat-x;
}

#pillmenu {
	float: left;
	width: 896px;
}

#pillmenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#pillmenu li {
	float: left;
	margin: 0;
	padding: 0;
	height: 30px;
	background: url(../images/menu_li.jpg) top right no-repeat;
}

#pillmenu li:hover {
	background: url(../images/menu_li_hover.jpg) top right no-repeat;
}

#pillmenu li a#active_menu-nav {
	
}

#pillmenu li a {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	float: left;
	display: block;
	line-height: 24px;
	padding: 2px 10px 2px 10px;
	color: #EDEBD7;
	text-decoration: none;
}

#pillmenu li a:hover {

}

#search {
	float: right;
	width: 90px;
	margin: 20px 0 0 0;
	height: 15px;
	overflow: hidden;
	text-align: right;
}

#area {
	padding: 0;
	margin: 0 auto;
}

#leftcolumn ,#rightcolumn {
	margin: 20px 0 0 0;
	width: 184px;
	float: left;
	padding: 0 0 10px 0;
	text-align: left;
}

div#maincolumn {
	float: left;
	width: 710px;
	margin: 14px 0 7px 0;
}

div.nopad {
	overflow: hidden;
	padding: 4px;
}

div.nopad ul {
	clear: both;
}

td.middle_pad {
	width: 20px;
}

#banner_l {
	text-align: left;
	padding: 0 0 0 24px;
}

#content_bottom {
	background: url(../images/content_bottom.jpg) top center no-repeat;
	height: 30px;
	width: 888px;
	margin: 0 auto;
}

#footer {
	margin: 0 auto;
	width: 888px;
	height: 50px;
	text-align: center;
	vertical-align: top;
	padding-bottom: 10px;
}

#footer p {
	height: 20px;
	text-align: right;
	padding: 10px 30px 0 0;
	color: #666;
}

/*****************************************/
/*** Joomla! specific content elements ***/
/*****************************************/

div.offline {
	background: #fffebb;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.2em;
	padding: 5px;
}

/* headers */
div.componentheading {
	height: 22px;
	padding: 8px 0 0 10px;
}
table.blog {
	
}
h1 {
	padding: 0;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	vertical-align: bottom;
	color: #333;
	text-align: left;
	width: 100%;
}

h2, .contentheading {
	padding: 0;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	font-size: 12px;
	vertical-align: middle;
	color: #333;
	text-align: left;
	font-weight: bold;
}

table.contentpaneopen h3 {
	margin-top: 25px;
}

h4 {
	font-family: Verdana, Arial, Tahoma, sans-serif;
	color: #333;
}

h3, .componentheading, table.moduletable th, legend {
	margin: 0;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	font-size: 14px;
	text-align: left;
	color: #555;
	padding: 0;
}
/* small text */
.small {
	font-size: 9px;
	color: #555;
	font-weight: normal;
	text-align: left;
}

.modifydate {
	height: 20px;
	vertical-align: bottom;
	font-size: 9px;
	color: #555;
	font-weight: normal;
	text-align: right;
}

.createdate {
	height: 20px;
	vertical-align: top;
	font-size: 9px;
	color: #555;
	font-weight: normal;
	vertical-align: top;
	padding-top: 0px;
}

a.readon {
	display: block;
	float: right;
	line-height: 14px;
	font-size: 10px;
	text-decoration: none;
	padding: 1px 2px 1px 2px;
}
a.readon:hover {
	color: #333;
}

/* form validation */
.invalid { border-color: #ff0000; }
label.invalid { color: #ff0000; }


/** overlib **/

.ol-foreground {
	background-color: #f1f1f1;
	color: #333;
}

.ol-background {
	background-color: #f1f1f1;
	color: #333;
}

.ol-textfont {
	font-family: Verdana, Arial, Tahoma, sans-serif;
	font-size: 10px;
}

.ol-captionfont {
	font-family: Verdana, Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #f6f6f6;
	font-weight: bold;
}
.ol-captionfont a {
	background-color: #f1f1f1;
	color: #333;
	text-decoration: none;
	font-size: 12px;
}

.ol-closefont {}

/* menu links */
a.mainlevel:link, a.mainlevel:visited {
	padding-left: 5px;
}

a.mainlevel:hover {

}

/* spacers */
span.article_separator {
	display: block;
	height: 20px;
}

.article_column {

}

.column_separator {
	
}

td.buttonheading {
	text-align: right;
	width: 0;
}

.clr {
	clear: both;
}

table.blog span.article_separator {
	display: block;
	height: 20px;
}



/* table of contents */
table.contenttoc {
  margin: 5px;
  border: 1px solid #ccc;
  padding: 5px;
}

table.contenttoc td {
  padding: 0 5px;
}


/* content tables */
td.sectiontableheader {
  color: #333;
  font-weight: bold;
  padding: 4px;
  border-bottom: 1px solid #666;
}

tr.sectiontableentry0 td,
tr.sectiontableentry1 td,
tr.sectiontableentry2 td {
  padding: 4px;
}

td.sectiontableentry0,
td.sectiontableentry1,
td.sectiontableentry2 {
  padding: 3px;
  color: #333;
  font-size: 11px;
}


/* content styles */
.contentpaneopen, table.contentpane {
	margin: 0;
	padding: 0;
}

table.contentpane td{
	text-align: left;
}

table.contentpane td.contentdescription {
	width: 100%;
}

table.contentpane  {
	text-align: left;
	float: left;
	width: 100%;
	margin: 8px;
}

table.contentpane ul li a .category {
	color: #FF8800;
}

table.contentpane ul li {
	color: #333;
}

table.contentpaneopen {
	margin: 2px 8px;
}

table.contentpaneopen li {
	margin-bottom: 5px;
}

table.contentpaneopen fieldset {
	border: 0;
	border-top: 1px solid #669933;
}

table.contentpaneopen h3 {
	margin-top: 25px;
}

table.contentpaneopen h4 {
	font-family: Verdana, Arial, Tahoma, sans-serif;
	color: #669933;
}

.highlight {
	background-color: #fffebb;
}

/* module control elements */
table.user1user2 div.moduletable {
	margin-bottom: 0px;
}

div.module_menu, div.module {
	padding: 0;
	margin: 0;
}

div.module_menu div, div.module div{
	margin: 0;
	padding: 0;
}

div.module_menu div div, div.module div div {
	padding: 0;
	background: url(../images/menu_mid.jpg) top center repeat-y;
}

div.module_menu div div div, div.module div div div{
	padding: 0 0 20px 0;
	background: url(../images/menu_bottom.jpg) bottom center no-repeat;
}

div.module_menu div div div div, div.module div div div div {
	background: none;
	padding: 0;
}

div.module_menu div div div form, div.module div div div form{
	padding: 6px 0 6px 0;
}




div.module_menu ul {
	list-style: none;
}

div.module_menu ul li{
	margin: 0;
	padding: 0;
}

div.module_menu ul li a:link, div.module_menu ul li a:visited {
	font-weight: bold;
	background: transparent url(../images/blue/bullet2.jpg) top left no-repeat;
	padding: 2px 0 2px 25px;
	line-height: 24px;
}


#leftcolumn div.module table ,#rightcolumn div.module table {
	
}

#leftcolumn div.module table.poll {
	padding: 0;
	margin: 0 auto;
}

/* LEFT COL H3 */
#leftcolumn h3, #rightcolumn h3 { 	
	color: #FFF;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
	text-align: left;
	height: 30px;
	width: 176px;
	text-decoration: none;
	padding: 0 0 0 8px;
	background: url(../images/h3.jpg) top left no-repeat;
	font-weight: bold;
	line-height: 29px;
}

#leftcolumn .moduletable_menu, #leftcolumn .moduletable, #leftcolumn .moduletable_text, #leftcolumn .c, 
#rightcolumn .moduletable_menu, #rightcolumn .moduletable, #rightcolumn .moduletable_text, #rightcolumn .c {
	margin: 0 0 16px 0;
	padding: 0 0 8px 0;
}

#leftcolumn ul.menu, #rightcolumn ul.menu {
	margin: 0;
	padding: 2px;
	list-style: none;
}

#leftcolumn ul.menu li, #rightcolumn ul.menu li {
	margin: 0 4px 0 4px;
	padding: 0;
}

#leftcolumn ul.menu li:hover, #rightcolumn ul.menu li:hover {

}

/*LEFT COL LINK*/
#leftcolumn ul.menu li a, #leftcolumn ul.menu li a:link,
#rightcolumn ul.menu li a, #rightcolumn ul.menu li a:link {
	line-height: 20px;
	padding: 0 0 0 10px;
	text-decoration: none;
	color: #666;
	font-weight: normal;
	font-size: 11px;
	background: url(../images/menu_row.jpg) center left no-repeat;
	margin: 0;
}

#leftcolumn ul.menu li a:hover, #rightcolumn ul.menu li a:hover {
	color: #333;
}

/*LEFT COL CURRENT LINK*/
#leftcolumn ul.menu li#current a, #leftcolumn ul.menu li#current a:link, 
#rightcolumn ul.menu li#current a, #rightcolumn ul.menu li#current a:link {
	line-height: 20px;
	padding: 0 0 0 10px;
	text-decoration: none;
	color: #333;
	font-weight: normal;
	font-size: 11px;
	margin: 0;
}

#leftcolumn ul.menu li#current a:hover, #rightcolumn ul.menu li#current a:hover {
	
}

/*LEFT COL SUB LINK*/
#leftcolumn ul.menu li#current ul li a, #leftcolumn ul.menu li#current ul li a:link {
	text-decoration: none;
	color: #666;
	margin: 0;
	font-size: 11px;
	background: url(../images/sub_menu_row.jpg) center left no-repeat;
	font-weight: normal;
	display: block;
	line-height: 20px;
	padding: 0 0 0 18px;
	border: none;
}

#leftcolumn ul.menu li ul li#current a, #leftcolumn ul.menu li ul li#current a:link, #leftcolumn ul.menu li ul li#current a:visited, #leftcolumn ul.menu li ul li#current a:hover {
	font-size: 11px;
	margin: 0;
	padding: 0 0 0 10px;
	text-decoration: none;
	border: none;
	color: #333;
}
/*SUBMENU POSITION*/
#leftcolumn ul.menu li#current ul {
	margin: 0;
	padding: 0;
}

#leftcolumn ul.menu li#current ul li {
	margin: 0;
	padding: 0;
}

/*CURRENT SUBMENU POSITION*/
#leftcolumn ul.menu li ul {
	margin: 0;
	padding: 0 0 0 4px;
}

#leftcolumn ul.menu li#current ul li a:hover {
	color: #333;
}

#leftcolumn ul.menu li ul, #rightcolumn ul.menu li ul {
	list-style: none;
}

/* forms */
#leftcolumn .moduletable ul, #rightcolumn .moduletable ul {
	margin:6px 0;
	padding:0;
	list-style:none;
}

#leftcolumn .moduletable ul li, #rightcolumn .moduletable ul li {
	margin:0;
	padding:0 2px;
}

table.adminform textarea {
  width: 540px;
  height: 400px;
  font-size: 1em;
  color: #000099;
}

div.search input {
	width: 90px;
	border: 0;
	height: 15px;
}

form#form-login fieldset { 
	border: 0 none; 
	margin: 0; 
}
form#form-login ul li{ 
	padding: 0; 
}

form#form-login ul li a {
	text-align: left;
	padding: 0;
	font-size: 10px;
	color: #555;
}

/* thumbnails */
div.mosimage         {  margin: 5px; }
div.mosimage_caption {  font-size: .90em; color: #333; }

div.caption       { padding: 0 10px 0 10px; }
div.caption img   { border: 1px solid #CCC; }
div.caption p     { font-size: .90em; color: #333; text-align: center; }

/* Parameter Table */
table.paramlist {
	margin-top: 5px;
}

table.paramlist td.paramlist_key {
	width: 128px;
	text-align: left;
	height: 30px;
}

table.paramlist td.paramlist_value {
}

div.message {
	font-family: Verdana, Arial, Tahoma, sans-serif;
	font-weight: bold;
	font-size : 14px;
	color : #c30;
	text-align: center;
	width: auto;
	background-color: #f9f9f9;
	border: solid 1px #d5d5d5;
	margin: 3px 0px 10px;
	padding: 3px 20px;
}

/* Banners module */

/* Default skyscraper style */
.bannergroup {
}

.banneritem {
}

/* Text advert style */

.banneritem_text {
	padding: 4px;
	font-size: 11px;
}

.bannerfooter_text {
	padding: 4px;
	font-size: 11px;
	text-align: right;
}

/* System Messages */
/* see system general.css */

.pagination span { padding: 2px; }
.pagination a    { padding: 2px; }

/* Polls */
.pollstableborder td {
	text-align: left;
}

/* Frontend Editing*/
fieldset {
	border: 1px solid #ccc;
	margin-top: 15px;
	padding: 15px;
}

legend {
	margin: 0;
	padding: 0 10px;
}

td.key {
	border-bottom:1px solid #eee;
	color: #333;
}

/* Tooltips */
.tool-tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
}

.tool-title {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../../system/images/selector-arrow.png) no-repeat;
}

.tool-text {
	font-size: 100%;
	margin: 0;
}

/* System Standard Messages */
#system-message dd.message ul { 
	background: #C3D2E5;
	padding: 0;
	margin: 0;
}

/* System Error Messages */
#system-message dd.error ul { 
	color: #c00; 
	background: #E6C0C0; 
	border-top: 3px solid #DE7A7B; 
	border-bottom: 3px solid #DE7A7B;
	padding: 0;
	margin: 0;
}

/* System Notice Messages */
#system-message dd.notice ul { 
	color: #c00; 
	background: #EFE7B8; 
	border-top: 3px solid #F0DC7E; 
	border-bottom: 3px solid #F0DC7E;
	padding: 0;
	margin: 0;
}



/* ****************************************************************************** */
/* blue */
input, button {
	
}
/* blue */
input[type="checkbox"], input[type="radio"]{
   background: transparent;
   border: none;
}

/* -------------------------- */
a.sgfooter:link, a.sgfooter:visited {
	color: #555;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	text-decoration: none;
}
a.sgfooter:hover {
	color: #555;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	text-decoration: none;
}
#sgf {
	font-size: 11px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	color: #555;
	font-family: Verdana, Arial, Tahoma, sans-serif;
}
.sgf {
	text-align: right;
	font-size: 11px;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	color: #555;
	text-decoration: none;
}
.sgf1 {
	font-size: 11px;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	color: #555;
	text-align: left;
}

a.sglink:link, a.sglink:visited {
	color: #555;
	font-size: 11px;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	text-decoration: none;
}
a.sglink:hover {
	color: #555;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	text-decoration: none;
	}