#page_bg {
	background: url(../images/green/background.jpg) top left repeat-x;
	margin: 0 40px;
	padding: 0;	
}

div#wrapper {
	background: #a5d377;
}

div#wrapper_l {
	background: url(../images/green/left_shadow.jpg) 0 0 repeat-y;
}

div#wrapper_r {
	background: url(../images/green/right_shadow.jpg) 100% 0 repeat-y;
}

div#header {
	width: auto;
}

div#header_t {
	background: transparent url(../images/green/header_lr_bg.jpg) 0 0 repeat-x;
}

div#header_tl {
	background: transparent url(../images/green/header_tl.jpg) 0 0 no-repeat;
}

div#header_tr {
	background: transparent url(../images/green/header_tr.jpg) 100% 0 no-repeat;
	height: 91px;
	overflow: hidden;
}

div#header_down_t {
	background: transparent url(../images/green/header_down_t.jpg) 0 0 repeat-x;
}

div#header_down_tl {
	background: transparent url(../images/green/header_down_tl.jpg) 0 0 no-repeat;
}

div#header_down_tr {
	background: transparent url(../images/green/header_down_tr.jpg) 100% 0 no-repeat;
	height: 22px;
	overflow: hidden;
	text-align:center;
}

div#top_hr {
	background: transparent url(../images/green/top_hr.gif) top center no-repeat;
	height: 22px;
	margin:0 10px;
}

div#tab_tl {
	background: transparent url(../images/green/tab_tl.jpg) 0 0 no-repeat;
	height: 31px;
}

div#tab_tr {
	background: transparent url(../images/green/tab_tr.jpg) 100% 0 no-repeat;
	height: 31px;
	overflow: hidden;
}

div#main_top {
	margin: 30px 0 0 0;
	width: auto;
}

div#main_top_t {
	background: transparent url(../images/green/main_top_t.jpg) 0 0 repeat-x;
}

div#main_top_tl {
	background: transparent url(../images/green/main_top_tl.jpg) 0 0 no-repeat;
}

div#main_top_tr {
	background: transparent url(../images/green/main_top_tr.jpg) 100% 0 no-repeat;
	height: 30px;
	overflow: hidden;
}

div#wrapper_t_gradient {
	background: transparent url(../images/green/wrapper_t_gradient.jpg) 0 0 repeat-x;
}

div#wrapper_l_gradient {
	background: transparent url(../images/green/wrapper_l_gradient.jpg) 0 0 no-repeat;
}

div#wrapper_r_gradient {
	background: transparent url(../images/green/wrapper_r_gradient.jpg) 100% 0 no-repeat;
	overflow: hidden;
}
div#main_hr {
	background: transparent url(../images/green/main_hr.gif) top center no-repeat;
	margin: 0 15px;
}

div#footer {
	background: url(../images/green/footer_m_bg.jpg) 0 0 repeat-x;
}

div#footer_l {
	background: url(../images/green/footer_l_bg.jpg) 0 0 no-repeat;
}

div#footer_r {
	background: url(../images/green/footer_r_bg.jpg) 100% 0 no-repeat;
	overflow: hidden;
}

div#footer_r div {
	color: #333;
	text-align: center;
	font-size: .90em;
}

div#footer_r a:link, div#footer_r a:visited  {
	color: #333;
	text-decoration: none;
}

div#footer_hr {
	background: url(../images/green/footer_hr.gif) top center no-repeat;
	margin: 0 15px;
	height: 29px;
}

#logo a, #logo a:link, #logo a:hover {
	color: #fefefe;
}

a:link, a:visited {
	color: #005018;
	font-weight: normal;
	text-decoration: underline;
}

a:hover {
	color: #FFF;
}

input.button, button {
	background: #95c466;
	border: 1px solid #70a13d;
	color: #000;
}

input {
	background: none;
	border: none;
	color: #000;
}

.button {
	padding: 1px 0 1px 0;
	font-size: 12px;
}

.inputbox {
	background: #95c466;
	border: 1px solid #70a13d;
	color: #000;
	font-size: 12px;
	padding: 2px 0 2px 4px;
}

div#tabarea {
	background: url(../images/green/top_menu_bg.jpg) top left repeat-x;
}

#pathway {
	border-bottom: 1px dashed #8ab85c;
}

#whitebox_t {
	background: url(../images/green/header_top_middle.jpg) 0 0 repeat-x;
}

#whitebox_tl {
	background: url(../images/green/header_top_left.jpg) 0 0 no-repeat;
}

#whitebox_tr {
	height: 20px;
	overflow: hidden;
	background: url(../images/green/header_top_right.jpg) 100% 0 no-repeat;
}

#pillmenu li {
	background: url(../images/green/top_menu_separator.gif) bottom right no-repeat;
}

#pillmenu a {
	color: #fefefe;
}

#pillmenu a:hover {
	color: #005018;
}

#pillmenu a#active_menu-nav {
	height: 28px;
	color: #005018;
}

h1 {
	color: #333;
}

h2, .contentheading {
	color: #004d09;
}

h3, .componentheading, table.moduletable th, legend {
	color: #333;
}

h4 {
	color: #333;
}

.small {
	color: #000;
}

.modifydate {
	color: #000;
}

.createdate {
	color: #000;
}

a.readon {
	background: url(../images/green/mw_readon.png) center right no-repeat;
}

.column_separator {
	border-left: 1px dashed #70a13d;
}

td.sectiontableheader {
	background: #b4de8a;
	color: #333;
	border-right: 1px solid #99c46e;
}

div.module_menu, div.module, div.module_text {
	margin-bottom: 14px;
	padding: 0;
}

div.module_menu div, div.module div, div.module_text div {	
	background:#70a13d;
	padding: 0;
}

div.module_menu div div, div.module div div, div.module_text div div {
	padding: 3px;
}

div.module_menu div div div, div.module div div div, div.module_text div div div  {
	background: #A5D377;
	padding: 0;
}

div.module_menu div div div div, div.module div div div div, div.module_text div div div div{
	background: #A5D377;
	padding: 4px;
}

div.module div div div form {
	background: #A5D377;
	border: 1px solid #49721e;
	padding: 6px;
}

#leftcolumn h3, #rightcolumn h3 {
	color: #fefefe;
	background: transparent url(../images/green/menu_t.jpg) top left repeat-x;
}

#leftcolumn .moduletable_menu,
#rightcolumn .moduletable_menu{
	background: #70a13d;	
}

#leftcolumn ul.menu, #rightcolumn ul.menu {
	border: 1px solid #49721e;
}

#leftcolumn ul.menu li, #rightcolumn ul.menu li {
	background: #a5d377;
}

#leftcolumn ul.menu li a, #leftcolumn ul.menu li a:link,
#rightcolumn ul.menu li a, #rightcolumn ul.menu li a:link {
	background: #a5d377 url(../images/green/menu_link_bg.jpg) left no-repeat;
	color: #476e20;
}

#leftcolumn ul.menu li a:hover, #rightcolumn ul.menu li a:hover {
	background: #b7dc92 url(../images/green/menu_link_bg_hover.jpg) left no-repeat;
}

#leftcolumn ul.menu li#current a, #leftcolumn ul.menu li#current a:link, 
#rightcolumn ul.menu li#current a, #rightcolumn ul.menu li#current a:link {
	background: #b7dc92 url(../images/green/menu_link_bg_hover.jpg) left no-repeat;
	color: #476e20;
}

#leftcolumn ul.menu li#current a:hover, #rightcolumn ul.menu li#current a:hover {
	background: #b7dc92 url(../images/green/menu_link_bg_hover.jpg) left no-repeat;
}

#leftcolumn ul.menu li#current ul li a, #leftcolumn ul.menu li#current ul li a:link,
#rightcolumn ul.menu li#current ul li a, #rightcolumn ul.menu li#current ul li a:link {
	background: #b7dc92 url(../images/green/submenu_link_bg.jpg) left no-repeat;
	color: #476e20;
}

#leftcolumn ul.menu li#current ul li a:hover, #rightcolumn ul.menu li#current ul li a:hover {
	background:#b7dc92 url(../images/green/submenu_link_bg.jpg) left no-repeat;
}

#leftcolumn ul.menu li ul li#current a, #leftcolumn ul.menu li ul li#current a:link, #leftcolumn ul.menu li ul li#current a:visited, #leftcolumn ul.menu li ul li#current a:hover {
	background: #b7dc92 url(../images/green/submenu_link_bg.jpg) left no-repeat;
}

a.sgfooter:link, a.sgfooter:visited {
	color: #476e20;
}

a.sgfooter:hover {
	color: #476e20;
}

#sgf {
	color: #476e20;
}

.sgf {
	color: #000;
}

.sgf1 {
	color: #000;
}

a.sglink:link, a.sglink:visited {
	color: #000;
}

a.sglink:hover {
	color: #000;
}