div.module_menu, div.module, div.module_text {
	margin-bottom: 14px;
	padding: 0;
}

div.module_menu div, div.module div, div.module_text div {	
	padding: 0 0 3px 0;
}

div.module_menu div div, div.module div div, div.module_text div div {
	padding: 3px;
}

div.module_menu div div div, div.module div div div, div.module_text div div div  {
	padding: 0;
	margin: 0 0 -3px 0;
}

div.module_menu div div div div, div.module div div div div, div.module_text div div div div{
	padding: 4px;
}

#leftcolumn ul.menu, #rightcolumn ul.menu {
	margin:0;
	padding:0;
	list-style:none;
}