html {
  height: 100%;
  margin-bottom: 0px;
}

form {
  margin: 0;
  padding: 0;
}

img,table {
	border:none;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.3em;
	margin: 0px 0px 0px 0px;
	font-size: 12px;
	color: #333;
}

p {
  margin-top: 0;
  margin-bottom: 5px;
  text-align: justify;
}

/*****************************************/
/*** Template specific layout elements ***/
/*****************************************/

div.center {
  text-align: center;
  margin: 0 auto;
}

div#wrapper {
	margin: 0 auto;
}

body.width_medium div.center  {
	width: 960px;
}
body.width_small div.center {
	width: 780px;
}
body.width_fluid div.center {
	min-width: 1040px;
}

body.width_small div#leftcolumn {
	width: 26%;
}
body.width_small div#maincolumn {
	width: 71%;
}

body.width_medium div#leftcolumn {
	width: 21%;
}
body.width_medium div#maincolumn {
	width: 55%;
}
body.width_medium div#rightcolumn {
	width: 21%;
}

body.width_fluid div#leftcolumn {
	width: 20%;
}
body.width_fluid div#maincolumn {
	width: 57%;
}
body.width_fluid div#rightcolumn {
	width: 20%;
}

body.width_small div#maincolumn_full {
	width: 71%;
}
body.width_medium div#maincolumn_full {
	width: 76%;
}
body.width_fluid div#maincolumn_full {
	width: 78%;
}

div#header_r {
	padding: 0px 25px;
	text-align: left;
}

#logo {
	padding: 40px 30px;
	text-align: right;
	height: 35px;
}

#logo a, #logo a:link, #logo a:hover {
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 3em;
	padding: 0;
	margin: 0;
	line-height: 1.4em;
	text-decoration: none;
}

div#tabarea {
	width: 100%;
	text-align: left;
}

#search {	
	width: 300px;
	height: 50px;
	text-align: right;
	float: right;
}

#area {
	padding: 0;
	width: 100%;
}

#whitebox {
	margin: 0;
	width: auto;
}

#whitebox_m {
	width: auto;
	padding: 10px 0px;
	margin: 0 6px;
	text-align: left;
}

/* horizontal pill menu */
table.pill {
	margin: 0 30px;
	padding: 0;
	text-align: left;
}

td.pill_m {
	padding: 0;
	margin: 0;
	width: auto;
}

#pillmenu {
	white-space: nowrap;
	height: 31px;
	float: left;
}

#pillmenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#pillmenu li {
	float: left;
	margin: 0;
	padding: 0;
}

#pillmenu a {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	float: left;
	display: block;
	height: 31px;
	line-height: 31px;
	padding: 0 14px;
	text-decoration: none;
}

#leftcolumn ,#rightcolumn {
	margin: 0;
	width: 16%;
	float: left;
}

div#maincolumn {
	padding: 0 10px;
	float: left;
	width: 64%;
}
div#maincolumn_full {
	padding: 0 10px;
	width: 80%;
	float: left;
}

div.nopad {
	padding: 0;
}

td.middle_pad {
	width: 20px;
}

/*****************************************/
/*** Joomla! specific content elements ***/
/*****************************************/

div.offline {
	background: #fffebb;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.2em;
	padding: 5px;
}

/* headers */
div.componentheading {
	padding-top: 6px;
}

h1 {
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	vertical-align: bottom;
	text-align: left;
	width: 100%;
}

h2, .contentheading {
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	vertical-align: bottom;
	text-align: left;
	width: 100%;
}

table.contentpaneopen h3 {
	margin-top: 25px;
}

h3, .componentheading, table.moduletable th, legend {
	margin: 0;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	padding-left: 0px;
	margin-bottom: 10px;
	text-align: left;
}

h4 {
	font-family: Helvetica, Arial, sans-serif;
}

/* small text */
.small {
	font-size: 9px;
	font-weight: normal;
	text-align: left;
}

.modifydate {
	height: 20px;
	vertical-align: bottom;
	font-size: 9px;
	font-weight: normal;
	text-align: left;
}

.createdate {
	height: 20px;
	vertical-align: top;
	font-size: 9px;
	font-weight: normal;
	vertical-align: top;
	padding: 0 0 5px 0;
}

a.readon {
	margin-top: 10px;
	display: block;
	float: left;
	padding-right: 10px;
	line-height: 14px;
	height: 16px;
}

/* form validation */
.invalid { border-color: #ff0000; }
label.invalid { color: #ff0000; }


/* spacers */
span.article_separator {
	display: block;
	height: 20px;
}

.article_column {
	padding-right: 5px;
}

.column_separator {
	padding-left: 10px;
}

td.buttonheading {
	text-align: right;
}

.clr {
	clear: both;
}


div#maindivider {
	border-top: 1px solid #ddd;
	margin-bottom: 10px;
	overflow: hidden;
	height: 1px;
}

table.blog span.article_separator {
	display: block;
	height: 20px;
}

/* table of contents */
table.contenttoc {
	margin: 5px;
	border: 1px solid #ccc;
	padding: 5px;
}

table.contenttoc td {
	padding: 0 5px;
}


/* content tables */
td.sectiontableheader {
	font-weight: bold;
	padding: 4px;
}

tr.sectiontableentry0 td,
tr.sectiontableentry1 td,
tr.sectiontableentry2 td {
	padding: 4px;
}

td.sectiontableentry0,
td.sectiontableentry1,
td.sectiontableentry2 {
	padding: 3px;
}


/* content styles */
table.contentpaneopen, table.contentpane {
	margin: 0;
	padding: 0;
	text-align: left;
}

table.contentpane ul{
	text-align: left;
}

table.contentpaneopen li {
	margin-bottom: 5px;
}

table.contentpaneopen fieldset {
	border: 0;
	border-top: 1px solid #ddd;
}

table.contentpaneopen h3 {
	margin-top: 25px;
}

table.contentpaneopen h4 {
	font-family: Helvetica, Arial, sans-serif;
	color: #333;
}

.highlight {
	background-color: #fffebb;
}

/* module control elements */
table.user1user2 div.moduletable {
	margin-bottom: 0px;
}

div.moduletable {
	margin-bottom: 25px;
}

div.module_menu ul {
	margin: 10px 0;
	padding-left: 10px;
	list-style: none;
}

div.module_menu ul li {
	margin: 0;
	padding: 0;
}

div.module_menu ul li a:link, div.module_menu ul li a:visited {
	font-weight: bold;
	background: transparent url(../images/blue/bullet2.jpg) top left no-repeat;
	padding: 2px 0 2px 25px;
	line-height: 24px;
}

#leftcolumn div.module table ,#rightcolumn div.module table {
	
}

#leftcolumn h3, #rightcolumn h3 {
	margin: 0;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	padding: 0 0 0 10px;
	line-height: 29px;
	text-align: left;
}

#leftcolumn .moduletable_menu,
#rightcolumn .moduletable_menu{
	margin: 0 0 20px 0;
	padding: 3px;	
}

#leftcolumn .moduletable, #leftcolumn .moduletable_text, #leftcolumn .c,
#rightcolumn .moduletable, #rightcolumn .moduletable_text, #rightcolumn .c  {
	border: 3px solid #70a13d;
}

#leftcolumn .moduletable form, #leftcolumn .moduletable_text .bannergroup_text,
#rightcolumn .moduletable form, #rightcolumn .moduletable_text .bannergroup_text {
	padding: 6px 10px;
}

#leftcolumn ul.menu, #rightcolumn ul.menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

#leftcolumn ul.menu li, #rightcolumn ul.menu li {
	margin: 0;
	padding: 0;
}

#leftcolumn ul.menu li a, #leftcolumn ul.menu li a:link,
#rightcolumn ul.menu li a, #rightcolumn ul.menu li a:link {
	display: block;
	line-height: 20px;
	height: 20px;
	padding: 2px 20px;
	text-decoration: none;
}

/* ****** left col current menu ****** */
#leftcolumn ul.menu li#current a, #leftcolumn ul.menu li#current a:link, 
#rightcolumn ul.menu li#current a, #rightcolumn ul.menu li#current a:link {
	display: block;
	line-height: 20px;
	padding: 2px 20px;
	text-decoration:none;
}

/* ****** left col sub menu ****** */
#leftcolumn ul.menu li ul, #rightcolumn ul.menu li ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#leftcolumn ul.menu li#current ul li a, #leftcolumn ul.menu li#current ul li a:link,
#rightcolumn ul.menu li#current ul li a, #rightcolumn ul.menu li#current ul li a:link {
	text-decoration: none;
	padding: 2px 25px;
}

#leftcolumn ul.menu li ul li#current a, #leftcolumn ul.menu li ul li#current a:link, #leftcolumn ul.menu li ul li#current a:visited, #leftcolumn ul.menu li ul li#current a:hover {
	font-size: 12px;
	margin: 0;
	padding: 2px 25px;
}

/* forms */
#leftcolumn .moduletable ul, #rightcolumn .moduletable ul {
	margin: 6px 0;
	padding: 0;
	list-style: none;
}

#leftcolumn .moduletable ul li, #rightcolumn .moduletable ul li {
	margin: 0;
	padding: 0 2px;
}

table.adminform textarea {
	width: 540px;
	height: 400px;
	font-size: 1em;
	color: #000099;
}

div.search input {
	width: 150px;
	margin: 16px 10px 10px 0;
}
div.search .button {
	width: 80px;
}

form#form-login fieldset { border: 0 none; margin: 0em; padding: 0.2em;}
form#form-login ul { padding:10px 20px;margin:0; }

/* thumbnails */
div.mosimage         {  margin: 5px; }
div.mosimage_caption {  font-size: .90em; color: #666; }

div.caption       { padding: 0 10px 0 10px; }
div.caption img   { border: 1px solid #CCC; }
div.caption p     { font-size: .90em; color: #666; text-align: center; }

/* Parameter Table */
table.paramlist {
	margin-top: 5px;
}

table.paramlist td.paramlist_key {
	width: 128px;
	text-align: left;
	height: 30px;
}

table.paramlist td.paramlist_value {
}

div.message {
	font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size : 14px;
	color : #c30;
	text-align: center;
	width: auto;
	background-color: #f9f9f9;
	border: solid 1px #d5d5d5;
	margin: 3px 0px 10px;
	padding: 3px 20px;
}

/* Banners module */

/* Text advert style */

.banneritem_text {
	padding: 4px;
	font-size: 11px;
}

.bannerfooter_text {
	padding: 4px;
	font-size: 11px;
	text-align: right;
}

/* System Messages */
/* see system general.css */

.pagination span { padding: 2px; }
.pagination a    { padding: 2px; }

/* Polls */
.pollstableborder td {
	text-align: left;
}

/* Frontend Editing*/
fieldset {
	border: 1px solid #ccc;
	margin-top: 15px;
	padding: 15px;
}

legend {
	margin: 0;
	padding: 0 10px;
}

td.key {
	border-bottom: 1px solid #eee;
	color: #666;
}

/* Tooltips */
.tool-tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
}

.tool-title {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../../system/images/selector-arrow.png) no-repeat;
}

.tool-text {
	font-size: 100%;
	margin: 0;
}

/* System Standard Messages */
#system-message dd.message ul { background: #C3D2E5 url(../../images/notice-info.png) 4px center no-repeat;}

/* System Error Messages */
#system-message dd.error ul { color: #c00; background: #E6C0C0 url(../../system/images/notice-alert.png) 4px center no-repeat; border-top: 3px solid #DE7A7B; border-bottom: 3px solid #DE7A7B;}

/* System Notice Messages */
#system-message dd.notice ul { color: #c00; background: #EFE7B8 url(../../system/images/notice-note.png) 4px center no-repeat; border-top: 3px solid #F0DC7E; border-bottom: 3px solid #F0DC7E;}

/* ********************************************************************** */

a.sgfooter:link, a.sgfooter:visited {
	font-family: Arial, sans-serif;
	text-decoration: none;
}
a.sgfooter:hover {
	font-family: Arial, sans-serif;
	text-decoration: none;
}
#sgf {
	font-size: 11px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	font-family: Arial, sans-serif;
}
.sgf {
	text-align: right;
	font-size: 11px;
	font-family: Arial, sans-serif;
	text-decoration: none;
}
.sgf1 {
	font-size: 11px;
	font-family: Arial, sans-serif;
	text-align:left;
}

a.sglink:link, a.sglink:visited {
	font-size: 11px;
	font-family: Arial, sans-serif;
	text-decoration: none;
}
a.sglink:hover {
	font-family: Arial, sans-serif;
	text-decoration: none;
}